<div{{ attributes }}>
  <p>{{ 'Please pay this invoice:'|t }}</p>
  <p>{{ 'MB entity'|t }}: <strong>{{ sibs_payment_entity }}</strong></p>
  <p>{{ 'MB reference'|t }}: <strong>{{ pmt_ref[:3] ~ " " ~ pmt_ref[3:3] ~ " " ~ pmt_ref[6:] }}</strong></p>
  <p>{{ 'Amount: @amount'|t({ '@amount': amount|commerce_price_format }) }}</p>
  <p>{{ 'You have to finish your payment until @validity_time'|t({ '@validity_time': validity_timestamp|format_date('medium') }) }}</p>
</div>
